{
  "env": {
    "node": 1
  },
  "rules": {
    "quotes": [2, "single"],
    "eqeqeq": 0,
    "camelcase" : 0,
    "no-unused-vars": 0,
    "no-underscore-dangle": 0,
    "strict": 0,
    "no-var": 1,
    "no-loop-func": 0,
    "curly": 0
  },
  "ecmaFeatures": {
    blockBindings: true,
    arrowFunctions: true,
    forOf: true
  }
}
